<nav class="navbar navbar-dark bg-dark justify-content-between">
  <a class="navbar-brand">Navbar</a>

  <form class="form-inline" method="get" action="/cocktails">

    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q"> <!-- NAME="q" will PASS to cokctails/INDEX.html.erb the PARAMS with the "cockt/word" searched in the navbar to show the result -->

    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search a cocktail</button>
  </form>
</nav>
